  <div class="list-item" ng-repeat="item in $ctrl.items">
    <span class="attr">name</span>: <span class="value">{{item.name}}</span> <br/>
    <span class="attr">short_name</span>: <span class="value">{{item.short_name}}</span> <br/>
    <span class="attr">description</span>: <span class="value">{{item.description}}</span> <br/>
    <span class="attr">price_small</span>: <span class="value">{{item.price_small}}</span> <br/>
    <span class="attr">price_large</span>: <span class="value">{{item.price_large}}</span> <br/>
    <span class="attr">small_portion_name</span>: <span class="value">{{item.small_portion_name}}</span> <br/>
    <span class="attr">large_portion_name</span>: <span class="value">{{item.large_portion_name}}</span>
  </div>
